@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.property {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    
    display: inline-block;
    margin-top: 20px;
    position: relative;
}

.percent-bar-background {
    background: #E7E7E7;
    border-radius: 15px;
    width: 100px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.percent-bar-fill {
    border-radius: 15px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
}

@media (max-width: 500px) {
    .property {
        width: 100%;
    }
 }

 @media (min-width: 500px) {
    .property {
        width: 50%;
    }
}